<style>
	.home-grid {
		width: 33.333333%;
		float: left;
	}
	
	@media screen and (max-width: 600px) {
		.home-grid {
			width: 100%;
		}
	}
	
	@media screen and (max-width: 960px) and (min-width:600px) {
		.home-grid {
			width: 50%;
		}
	}
	
	@media screen and (max-width: 1200px) and (min-width:960px) {
		.home-grid {
			width: 33%;
		}
	}
	
	.home-grid .other,
	.home-grid .chart-container,
	.home-grid .chart-container > canvas {
		height: 180px !important;
		width: 100% !important;
	}
	
	.other {
		text-align: center;
	}
	
	.other > ng-md-icon {
		margin-right: 120px;
	}
	
	.other > div {
		margin-top: 130px;
	}
	
	.home-grid md-grid-tile {
		transition: all 400ms ease-out 50ms;
	}
	
	.home-grid .gray {
		background: #f5f5f5;
	}
	
</style>
<div style="margin:auto;max-width:1200px">
	<!--max-width:1200px-->
	<div style="width:100%">
		<md-card>
			<md-card-content layout="row">
				<md-input-container flex>
					<label>Filename</label>
					<input ng-model="file.name" type="text">
				</md-input-container>
			</md-card-content>
		</md-card>
		<div class="home-grid" ng-click="goto('client')">
			<md-card style="margin-bottom:1em;">
				<div style="margin:20px">
					<div class="other">
						<ng-md-icon icon="account_circle" style="fill:grey;" size=150></ng-md-icon>
						<div>{{file.client.name}} {{file.client.prename}}</div>
					</div>
				</div>
				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>CLIENT_LINK</span>
					</span>
				</md-card-content>
			</md-card>
		</div>

		<div class="home-grid" ng-click="goto('pdf')">
			<md-card style="margin-bottom:1em;">
				<div style="margin:20px">
					<div class="other">
						<ng-md-icon icon="print" style="fill:grey;" size=150></ng-md-icon>
						<div>{{file.name}}.pdf</div>
					</div>
				</div>
				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>PDF</span>
					</span>
				</md-card-content>
			</md-card>
		</div>
		<div class="home-grid" ng-click="goto('development')">
			<md-card style="margin-bottom:1em;">

				<div style="margin:20px">
					<bp-chart-wrapper style="height:300px;" colors="developmentColors" options="developmentOptions" chart-type="Bar" watch="windowWidth"
					create-data="createDataDevelopment"></bp-chart-wrapper>
				</div>

				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>ASSETDEVELOPMENT_LINK</span>
					</span>
				</md-card-content>
			</md-card>
		</div>

		<div class="home-grid" ng-click="goto('assets/assets')">
			<md-card style="margin-bottom:1em;">
				<div style="margin:20px">
					<bp-chart-wrapper style="height:300px;" colors="assetColors" options="options" chart-type="Bar" watch="windowWidth" create-data="createDataAsset"></bp-chart-wrapper>
				</div>
				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>ASSETS_AND_DEBTS</span>
					<span style="float:right;margin-right:15px">{{(file.revenue.positiv.Total() - file.revenue.negativ.Total()).formatMoney()}}</span>
					</span>
				</md-card-content>
			</md-card>
		</div>

		<div class="home-grid" ng-click="goto('assets/revenue')">
			<md-card style="margin-bottom:1em;">
				<div style="margin:20px">
					<bp-chart-wrapper colors="assetColors" options="options" chart-type="Bar" watch="windowWidth" create-data="createDataRevenue"></bp-chart-wrapper>
				</div>
				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>ONE_TIME_REVENUE_AND_EXPENDITURE</span>
					<span style="float:right;margin-right:15px">{{(file.revenue.positiv.Total() - file.revenue.negativ.Total()).formatMoney()}}</span>
					</span>
				</md-card-content>
			</md-card>
		</div>

		<div class="home-grid" ng-click="goto('budget/0')">
			<md-card style="margin-bottom:1em;">
				<div style="margin:20px">
					<bp-chart-wrapper colors="budgetColors" options="options" chart-type="Bar" watch="windowWidth" create-data="createDataBudget"></bp-chart-wrapper>
				</div>
				<md-card-content class="gray">
					<span flex>
						<span style="float:left" translate>BUDGET_LINK</span>
					</span>
				</md-card-content>
			</md-card>
		</div>
		
	</div>
</div>