<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body>
    <div ng-app="app" style="height:100vh">
        <div id="content-wrapper">
        <div ng-controller="AppController" layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')  && lockSideMenu">
                <!-- md-is-locked-open="$mdMedia('gt-md')">-->
                <div style="background-size: cover; height:9em;padding:1em 1em; background:url('./images/wallpaper.png') rgb(33,150,243);">
                    <img src="images/logo.png" style="height:6em;width:6em; margin-left: 97px;" />
                    <span style="color: white;display: block;text-align: center;font-size: 1.5em;margin: 1em;font-weight: bold;">Budget Planner</span>
                </div>
                <md-content>
                    <div>
                        <md-menu-item ng-repeat="menu in menus">
                            <md-button class="md-icon-small-menu-indent" ng-click="goto(menu)">
                                <ng-md-icon icon="{{menu.icon}}" style="fill:grey;"></ng-md-icon>
                                <span translate="">{{menu.name}}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-checkbox class="menu-checkbox" ng-model="lockSideMenu" aria-label="Lock side menu">
                                Lock Side Menu
                            </md-checkbox>
                        </md-menu-item>
                        
                    </div>
                </md-content>
            </md-sidenav>
            <md-content style="height:100vh; overflow:hidden" flex>
                <md-toolbar md-scroll-shrink="" class="main-toolbar">
                    <div class="md-toolbar-tools">
                        <md-button aria-label="menu" class="md-icon-button" ng-click="toggleSideNav()">
                            <ng-md-icon icon="menu" style="fill:white;"></ng-md-icon>
                        </md-button>


                        <h3 ng-bind="title()"></h3>

                        <span flex></span>

                        <md-button aria-label="undo" class="md-icon-button" ng-click="undo()" ng-if="canUndo()">
                            <ng-md-icon icon="undo" style="fill:white;"></ng-md-icon>
                            <md-tooltip><span translate>UNDO</span></md-tooltip>
                        </md-button>
                        <md-button aria-label="redo" class="md-icon-button" ng-click="redo()" ng-if="canRedo()">
                            <ng-md-icon icon="redo" style="fill:white;"></ng-md-icon>
                            <md-tooltip><span translate>REDO</span></md-tooltip>
                        </md-button>


                        <md-button aria-label="save" class="md-icon-button" ng-if="isChromeApp" ng-click="saveChromeFile()">
                            <ng-md-icon icon="save" style="fill:white;"></ng-md-icon>
                            <md-tooltip><span translate>SAVE_FILE</span></md-tooltip>
                        </md-button>
                        <md-button aria-label="open" class="md-icon-button" ng-if="isChromeApp" ng-click="openChromeFile()">
                            <ng-md-icon icon="folder_open" style="fill:white;"></ng-md-icon>
                            <md-tooltip><span translate>OPEN_FILE</span></md-tooltip>
                        </md-button>

                        <md-button aria-label="download" class="md-icon-button" ng-if="!isChromeApp" ng-click="download()">
                            <ng-md-icon icon="file_download" style="fill:white;"></ng-md-icon>
                            <md-tooltip><span translate>DOWNLOAD_FILE</span></md-tooltip>
                        </md-button>
                        <file-upload accept=".xbp,.bpj" bp-uploaded="uploaded" ng-if="!isChromeApp">
                            <md-button aria-label="upload" class="md-icon-button">
                                <ng-md-icon icon="file_upload" style="fill:white;"></ng-md-icon>
                                <md-tooltip><span translate>UPLOAD_FILE</span></md-tooltip>
                            </md-button>
                        </file-upload>
                        <md-button aria-label="download" class="md-icon-button" ng-click="goto(menus[0])">
                            <ng-md-icon icon="dashboard" style="fill:white;"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-content class="view-container">
                    <div ng-view style="padding:0;"></div>
                </md-content>
            </md-content>
            
        </div>
        </div>
        
        <div id="loader-wrapper">
            <div class="loader-bookshelf_wrapper">
                <ul class="loader-books_list">
                    <li class="loader-book_item loader-first"></li>
                    <li class="loader-book_item loader-second"></li>
                    <li class="loader-book_item loader-third"></li>
                    <li class="loader-book_item loader-fourth"></li>
                    <li class="loader-book_item loader-fifth"></li>
                    <li class="loader-book_item loader-sixth"></li>
                </ul>
                <div class="loader-shelf"></div>
                <h1 class="loader-text">Budget Planner</h1>
            </div>
        </div>
        
        <script src="js/app.js"></script>
    </div>
    
    <canvas id="canvas" style="width:1000px; height:500px;position: absolute;top: 0;left: -1000px;background-color:white"></canvas>
</body>

</html>