<md-card>
	<div>
		<md-card-content>
			<div class="md-toolbar-tools">
				<input class="hide-border" placeholder="Name" style="font-weight: bold; font-size: 20px; letter-spacing: 0.005em; color:#666; width:100%;"
				ng-model="current.name" ng-model-options="{ updateOn: 'blur' }"/>
				<span style="color:#333">
                      {{( current.positiv.Total() - current.negativ.Total() ).formatMoney() }}
                      <span style="font-size:.6em">&nbsp;pro&nbsp;Jahr</span>
				</span>
				<div>
					<ng-md-icon ng-if="current.negativ.Total() < current.positiv.Total()" class="header-icon rotate_90Degres" icon="arrow_back" style="fill:#009688" size=50></ng-md-icon>
					<ng-md-icon ng-if="current.negativ.Total() == current.positiv.Total()" class="header-icon" icon="vertical_align_center" style="fill:#666" size=50></ng-md-icon>
					<ng-md-icon ng-if="current.negativ.Total() > current.positiv.Total()" class="header-icon rotate_90Degres" icon="arrow_forward" style="fill:#f06292" size=50></ng-md-icon>
				</div>
			</div>
		</md-card-content>
		<div style="background-color:#f2f2f2;border-top:1px solid #ebebeb;" layout="row">
			<md-tabs flex md-selected="index">
				<md-tab ng-repeat="b in budgets" ng-click="goto($index)">
					{{b.name || '' ? b.name : 'Unbekanntes Budget' }}
				</md-tab>
			</md-tabs>
			<div>
				<md-menu md-position-mode="target-right target">

					<md-button aria-label="menu" class="header-menu-icon md-icon-button" ng-click="$mdOpenMenu($event)">
						<ng-md-icon icon="more_vert" style="fill:grey;"></ng-md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="add();" class="md-icon-small-menu-indent">
								<ng-md-icon icon="new_releases" style="fill:grey;"></ng-md-icon>
								<span>Leer</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="add(current);" class="md-icon-small-menu-indent">
								<ng-md-icon icon="my_library_add" style="fill:grey;"></ng-md-icon>
								<span>Aktuelles Budget kopieren</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="remove(current);" class="md-icon-small-menu-indent">
								<ng-md-icon icon="delete" style="fill:grey;"></ng-md-icon>
								<span>Aktuelles Budget l&ouml;schen</span>
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="add();" class="md-icon-small-menu-indent">
								<ng-md-icon icon="my_library_books" style="fill:grey;"></ng-md-icon>
								<span>Vorlage</span>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>

			</div>
		</div>
	</div>
</md-card>